@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins"),
    url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins"),
    url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
}
$poppinsRegular: "Poppins-Regular";
$poppinsMedium: "Poppins-Medium";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 600px;

  nav {
    padding: 15px 20px 15px 16px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: inherit;

      .user {
        width: 200px;
        font-style: normal;
        color: #354d64;

        .user-name {
          font-family: $poppinsMedium;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
        }

        .user-id {
          font-family: $poppinsRegular;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
        }
      }
      .notifications {
        display: flex;

        .notiCount {
          width: 13.47px;
          height: 13.47px;
          border-radius: 50%;
          background-color: #fbb03b;
          transform: translate(28px, 2.47px);
          font-size: 8px;
          font-family: $poppinsRegular;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
      }
      .burger {
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
          width: 22px;
          border: 1px solid black;
          border-radius: 2px;
        }
      }
    }
  }

  .points-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .point-count {
      display: flex;
      justify-content: center;
      transform: translateX(10px);

      img {
        height: 23px;
        transform: translateY(20px);
      }
    }

    .points {
      font-family: $poppinsRegular;
      font-size: 55px;
      line-height: 82px;
      color: #5b8fc1;
      height: 65px;
    }
  }

  .caption-text {
    font-family: $poppinsRegular;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }

  .funky-challenges {
    padding-top: 30px;
    display: flex;
    justify-content: center;

    .challenges-wrapper {
      width: 362px;
      height: 156px;

      background: #ffffff;
      box-shadow: 0px 10px 35px #e2eaec;
      border-radius: 10px;

      .challenges-container {
        padding: 15px 21px;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .challenge-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 212px;

          .challenge-title-text {
            font-family: $poppinsMedium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #294450;
          }
        }
        .message-container{
          margin-top: 17px;
        }
        .challenge-progressbar {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 36px;

          .top {
            display: flex;
            justify-content: space-between;

            .progressbar-text {
              font-family: $poppinsRegular;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height */

              color: #294450;

              .highlight {
                color: #97B57F !important;
              }
            }
          }
          .bottom{
            .progressbar{
              margin-top: 7px;
              width: 100%;
              height: 10px;
              background-color: #F3F3F3;
              border-radius: 20px;

              .progress{
                height: 10px;
                background-color: #AED88D;
                border-radius: 20px;
              }
            }
          }
        }
      }
      .close-btn {
        transform: translate(330px, 20px);
        cursor: pointer;
        position: absolute;
      }
    }
  }
}
