@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins"),
    url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins"),
    url(../assets/fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: local("Poppins"),
    url(../assets/fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

$poppinsRegular: "Poppins-Regular";
$poppinsMedium: "Poppins-Medium";
$poppinsSemibold: "Poppins-Semibold";
$OpenSansRegular: "OpenSans-Regular";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 600px;

  .parent {
    height: 600px;
    overflow-y: hidden;
  }

  nav {
    padding: 15px 20px 15px 16px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: inherit;

      .user {
        width: 200px;
        font-style: normal;
        color: #354d64;

        .user-name {
          font-family: $poppinsMedium;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
        }

        .user-id {
          font-family: $poppinsRegular;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
        }
      }
      .notifications {
        display: flex;

        .notiCount {
          width: 13.47px;
          height: 13.47px;
          border-radius: 50%;
          background-color: #fbb03b;
          transform: translate(28px, 2.47px);
          font-size: 8px;
          font-family: $poppinsRegular;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
      }
      .burger {
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
          width: 22px;
          border: 1px solid black;
          border-radius: 2px;
        }
      }
    }
  }

  .points-wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .point-count {
      display: flex;
      justify-content: center;
      transform: translateX(10px);

      img {
        height: 23px;
        transform: translateY(20px);
      }
    }

    .points {
      font-family: $poppinsRegular;
      font-size: 55px;
      line-height: 82px;
      color: #5b8fc1;
      height: 65px;
    }
  }

  .caption-text {
    font-family: $poppinsRegular;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }

  .funky-challenges {
    padding-top: 30px;
    display: flex;
    justify-content: center;

    .challenges-wrapper {
      width: 362px;
      height: 156px;

      background: #ffffff;
      box-shadow: 0px 10px 35px #e2eaec;
      border-radius: 10px;

      .challenges-container {
        padding: 15px 21px;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .challenge-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 212px;

          .challenge-title-text {
            font-family: $poppinsMedium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #294450;
          }
        }
        .message-container {
          margin-top: 17px;
        }
        .challenge-progressbar {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 36px;

          .top {
            display: flex;
            justify-content: space-between;

            .progressbar-text {
              font-family: $poppinsRegular;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height */

              color: #294450;

              .highlight {
                color: #97b57f !important;
              }
            }
          }
          .bottom {
            .progressbar {
              margin-top: 7px;
              width: 100%;
              height: 10px;
              background-color: #f3f3f3;
              border-radius: 20px;

              .progress {
                height: 10px;
                background-color: #aed88d;
                border-radius: 20px;
              }
            }
          }
        }
      }
      .close-btn {
        transform: translate(330px, 20px);
        cursor: pointer;
        position: absolute;
      }
    }
  }
  .activity-container {
    width: 100%;
    margin-top: 9px;
    overflow-x: hidden;

    .switch {
      display: flex;
      justify-content: space-evenly;
      height: 26px;
      padding: 0 21px;
      margin-top: 21px;

      .left {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        .caption-text {
          cursor: pointer;
        }

        .underline {
          display: flex;
          justify-content: flex-end;
        }
      }
      .right {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        .caption-text {
          cursor: pointer;
        }
      }

      .underline {
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        border-radius: 10px;

        .colorful {
          height: 3px;
          width: 0;
          background-color: #e55950 !important;
          transition: 0.3s ease-in-out;
        }
        .active {
          width: 100%;
        }
      }
    }
    .reward-active {
      transform: translateX(-379px);
    }
    .activity-wrapper {
      display: flex;
      padding: 0 21px;
      width: 200%;
      overflow-x: hidden;
      transition: 0.3s ease-in-out;

      .activities {
        margin-top: 18px;

        .activity {
          width: 359px;
          margin-bottom: 21px;
          display: flex;
          justify-content: space-between;

          .activity-image {
            width: 46px;
            height: 46px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .activity-details {
            width: 221px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .top {
              font-family: $poppinsRegular;
              font-size: 12px;
              line-height: 18px;
              color: #464646;
            }
            .bottom {
              display: flex;

              .item-category {
                color: #a69d9d;
              }
              .seperator {
                color: #e4e4e4;
              }
              .highlight {
                color: #5b8fc1;
              }
            }
          }
          .activity-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 72px;

            .type {
              font-family: $poppinsRegular;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height */

              color: #36aac4;
            }
          }
        }

        .load-more-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          transform: translateY(-9px);

          .load-more {
            cursor: pointer;
          }
        }
      }

      .rewards-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 106px);
        grid-column-gap: 19px;
        grid-row-gap: 11px;
        margin: 15px 21px 21px 21px;

        .reward-box {
          width: 106px;
          height: 128px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          background: #ffffff;
          box-shadow: 0px 10px 35px #e2eaec;
          border-radius: 10px;

          .reward-title {
            width: 100%;
            font-family: $OpenSansRegular;
            font-size: 8px;
            line-height: 26px;
            text-align: left;
            height: 26px;
            padding-left: 10px;
            color: #375066;
          }
          .reward-image {
            width: 100%;
            height: 60px;
            background-repeat: no-repeat !important;
            // background-size: contain !important;
            background-position: center !important;
          }
          .reward-points {
            width: 38px;
            height: 26px;

            font-family: $OpenSansRegular;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 26px;
            /* identical to box height, or 260% */

            text-align: center;

            color: #5b8fc1;
          }
          .redeem-button {
            width: 50px;
            height: 17px;
            background: #e55950;
            border-radius: 2px;
            border: none;
            outline: none;

            color: #ffffff;
            font-size: 8px;
            line-height: 12px;
            font-family: $poppinsRegular;

            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .mint-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .mint-button {
      width: 270px;
      height: 47px;
      left: 65px;
      top: 527px;
      border: none;
      outline: none;

      background: #e55950;
      border-radius: 5px;

      font-family: $poppinsSemibold;
      font-style: normal;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height */

      color: #ffffff;
    }
  }
}
